section {
    padding: 2em;
    min-height: 100vh;
    background: #f4f4f4;
    border: 1px solid #ddd;
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
}

.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}